<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/src/styles/about.css">
</head>

{{>navbar}}

<body>
  <div class="bg-text">
    <h2>Simple Weather Application</h2>
    <h1 style="font-size:50px">NodeJs Application</h1>
    <p> The application has 3 views routes: Home , Weather , About.
      I Used the http requests package (postman-request) to get weather data.
      and i Used 'hbs' as template engine.
      and i also add a navigation bar.</p>
  </div>
</body>

</html>