<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    font-size: 20px;
  }
  
  .container {
    position: relative;
    max-width: 780px;
    margin: 0 auto;
  }
  
  .container img {vertical-align: middle;}
  
  .container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 95%;
    padding: 20px;
  }
</style>
</head>

{{>navbar}}

<body>
  <div class="container">
    <img src="https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg" alt="Notebook"
      style="width:100%;">
    <div class="content">
      <h1>Welcome!!</h1>
      <p>this is the home page that i bulid </p>
    </div>
  </div>
</body>
</html>