<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{!-- <link rel="stylesheet" href="/src/styles/weather.css"> --}}
<style>.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  h2{
      text-align: center;
  }</style>

</head>

{{>navbar}}

<body>
  <h2> tab on Image to view your weather Description for your city </h2>
  <div class="container">
    <img src="https://wi-images.condecdn.net/image/doEYpG6Xd87/crop/810/f/weather.jpg" class="image">
    <div class="overlay">
      <div class="text">
        Description : {{desc}}
        <br>
        Temperature : {{temp}}
        <br>

      </div>
    </div>
  </div>

</body>

</html>